@model IEnumerable<Store.Models.Productos>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/normalize.css" rel="stylesheet" />
    <link href="~/CSS/Control.css" rel="stylesheet" />
    <link href="~/CSS/Productos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="~/JS/prefixfree.min.js"></script>
    <style>
        body {
            background: #E0E4E5;
        }

        .category_list .category_item {
            display: block;
            width: 90%;
            padding: 15px 0;
            margin-bottom: 20px;
            background: #E84C3D;
            text-align: center;
            text-decoration: none;
            color: #fff;
            border-radius: 10px;
        }

        .wrapper{
            width: 90%;
            margin: auto;
            /*display: grid;
            grid-template:
                "menu card" auto/
                20% auto
                ;*/

        }

        .menu{
            grid-area:menu;
            border: 2px solid gray;
            margin-top: 2em;
            padding-top: .5em;
            /*position:fixed;
            padding: 2em;
            top:8.3em;
            bottom:0;*/
            text-align:center; 
            position: sticky; 
            position: -webkit-sticky;
            top: 0;
            z-index: 10;    
            border-radius: 15px;
            background: linear-gradient(92deg, rgb(171, 255, 242), rgb(224, 153, 209))
        }

        .menu .menu-list li{
            list-style: none;
            display: inline-block;
            padding: 1.5em 2em;
        }

       .card .btn{
            padding: 1em 2em;
            font-weight:bold;
        }

        .menu .menu-list li a{
            border: 2px solid #fff;
            margin-top: 1.5em;
            cursor: pointer;
            padding: 1em;
            background:#2d2b60;
            color: #fff;
            border-radius: 20px;
            box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
            text-decoration: none;
            font-weight: bold;
            font-size:.9em;
            transition: .6s all .2s;
        }

        .menu .menu-list li a:hover{
            background:#ffffff;
            color:#2d2b60;
            transform: scale(1.05,1.05);
        }

        .card{
            grid-area:card;
            display: grid;
            grid-template:
            "imagen datos" auto/
             16% auto          
                ;
            margin: 1.5em 0;
            column-gap: 1em;
            border: 2px solid #fff;
            transition: .6s all .1s;
        }

        .card:hover{
            transform: scale(1.05,1.05);
        }

        .card .card-img{
            grid-area: imagen;
        }

        .card .card-date{
            grid-area: datos;
            border: 2px solid #fff;
            background:#dedede;
            display: flex;
            justify-content: space-around;
            align-items:center;
            font-size: 1.5em;
        }

        .card .card-date-names{
            line-height: 20px;
        }

        .card .card-date-edit{
            text-align: right;
        }

        .category_list {
            display: flex;
            flex-direction: column;
            width: 18%;
        }

            .category_list .ct_item-active {
                background: #2D3E50;
            }

        .baddy {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .wrap {
            max-width: 1100px;
            width: 90%;
            margin: auto;
        }

        /*Productos*/
        .products-list {
            width: 82%;
            display: flex;
            flex-wrap: wrap;
        }

            .products-list .products-item {
                width: 22%;
                margin-left: 3%;
                margin-bottom: 25px;
                box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: flex-start;
                transition: all .4s;
            }

                .products-list .products-item img {
                    width: 100%;
                }

                .products-list .products-item a {
                    display: block;
                    width: 100%;
                    padding: 8px 0;
                    background: #2D3E50;
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                }
    </style>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <i>@Html.ActionLink("Usuarios", "index", "Usuarios")</i><br />

                        <i>@Html.ActionLink("Cerrar Sesion", "Login", "Acceso")</i><br />
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <input type="search" Placeholder="Buscar" />
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0"></form>
            </div>
        </nav>
    </div>

    <div class="wrapper">

        <div class="menu">
            <h2>CATEGORIAS</h2>
            <ul class="menu-list">
                <li><a href="#">Categoria 1</a></li>
                <li><a href="#">Categoria 2</a></li>
                <li><a href="#">Categoria 3</a></li>
                <li><a href="#">Categoria 4</a></li>
                <li><a href="#">Categoria 5</a></li>
                <li>@Html.ActionLink("Create New Product", "Create")</li>
            </ul>
        </div>
        @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreProducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio_venta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Presentacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categorias.NombreCate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proveedor.NombreProveedor)
                </th>
                <th></th>
            </tr>*@

        @foreach (var item in Model)
        {
            @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)*@


            <div class="card">
                <div class="card-img">
                    <img src="~/IMG/LG.jpg" alt="Celular" />
                </div>
                <div class="card-date">
                    <div class="card-date-names">
                        <p>Producto: <strong>@Html.DisplayFor(modelItem => item.NombreProducto)</strong></p>
                        <p>Descripcion: <strong> @Html.DisplayFor(modelItem => item.Descripcion) </strong></p>
                        <p><strong style="font-weight:bold; font-size:1.3em; color:red;">$@Html.DisplayFor(modelItem => item.Precio_venta) </strong></p>
                        <p>Categoria: <strong>@Html.DisplayFor(modelItem => item.Categorias.NombreCate)</strong></p>
                    </div>
                    <div class="card-date-edit">
                        <div class="card-date-button">
                            <button class="btn btn-primary">AGREGAR</button>
                        </div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Idproducto })
                        @Html.ActionLink("Details", "Details", new { id = item.Idproducto })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Idproducto })
                    </div>
                </div>
            </div>
            <pre>



























































f
</pre>
                    @*</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio_venta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                <img src="~/IMG/LG.jpg" alt="Celular" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categorias.NombreCate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Proveedor.NombreProveedor)
                            </td>
                            <td>
                                <button class="btn btn-primary">AGREGAR</button>
                            </td>
                        </tr>*@

        }
        @*</table>*@
    </div>
</body>
</html>
